{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Painel do Administrador</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Receitas</h2>
                    <a href="{% url 'cadastrar_receita' %}" class="btn btn-primary mb-2">Cadastrar Receita</a>
                    <a href="{% url 'lista_receitas' %}" class="btn btn-info mb-2">Lista de Receitas</a>
                    <a href="{% url 'lista_pendentes' %}" class="btn btn-info mb-2">Receitas Pendentes</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Ingredientes</h2>
                    <a href="{% url 'cadastrar_ingrediente' %}" class="btn btn-primary mb-2">Cadastrar Ingrediente</a>
                    <a href="{% url 'lista_ingredientes' %}" class="btn btn-info mb-2">Lista de Ingredientes</a>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Gestão de Usuários</h2>
                    <a href="{% url 'gestao_usuarios' %}" class="btn btn-primary mb-2">Gerenciar Usuários</a>
                    <a href="{% url 'cadastrar_usuario' %}" class="btn btn-info mb-2">Cadastrar Usuário</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
