{% extends 'main/base.html' %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <h1 class="mb-4 text-center">Lista de Receitas</h1>

            <form method="get" action="{% url 'lista_receitas' %}" class="form-group-listar">
                <div class="input-group d-flex">
                    <input type="text" name="pesquisa" id="id_pesquisa" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar" aria-describedby="botao-pesquisar">
                    <button type="submit" class="btn btn-primary btn-pesquisar" id="botao-pesquisar">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            

            {% if messages %}
                <ul class="messages" role="alert">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <ul class="list-group listagem-receitas">
                {% for receita in receitas %}
                    <li class="list-group-item">
                        <div class="recipe-info">
                            <a href="{% url 'detalhes_receita' receita.id %}">{{ receita.nome }}</a>
                        </div>
                        {% if not user.is_authenticated or not user.is_staff %}
                            <form method="post" class="d-inline">
                                {% csrf_token %}
                                {% if receita.id in receitas_favoritas_ids %}
                                    <input type="hidden" name="receita_id" value="{{ receita.id }}">
                                    <button type="submit" formaction="{% url 'favorites:remover_favorito' receita.id %}" class="btn btn-primary btn-sm align-self-center btn-favoritos" aria-label="Remover dos favoritos">
                                        <i class="fas fa-heart" aria-hidden="true"></i>
                                    </button>
                                {% else %}
                                    <button type="submit" formaction="{% url 'favorites:adicionar_favoritos' receita.id %}" class="btn btn-primary btn-sm align-self-center btn-favoritos" aria-label="Adicionar aos favoritos">
                                        <i class="far fa-heart" aria-hidden="true"></i>
                                    </button>
                                {% endif %}
                            </form>
                        {% endif %}
                        {% if user.is_authenticated and user.is_staff %}
                            <div class="admin-actions">
                                <a href="{% url 'editar_receita' receita.id %}" class="btn btn-warning btn-sm" aria-label="Editar Receita">Editar Receita</a>
                                <form method="post" action="{% url 'excluir_receita' receita.id %}" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm ml-2" aria-label="Excluir Receita">Excluir Receita</button>
                                </form>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

                <div class="card pagination-card">
                    <div class="card-body">
                        <nav aria-label="Navegação de páginas" class="pagination justify-content-center">
                            <ul class="pagination-list">
                                {% if receitas.has_previous %}
                                    <li class="page-item">
                                        <a href="?page=1">&laquo; primeira</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="?page={{ receitas.previous_page_number }}">anterior</a>
                                    </li>
                                {% endif %}
                        
                                <li class="page-item">
                                    <span class="current">Página {{ receitas.number }} de {{ receitas.paginator.num_pages }}.</span>
                                </li>
                        
                                {% if receitas.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ receitas.next_page_number }}">próxima</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="?page={{ receitas.paginator.num_pages }}">última &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

        </div>
    </div>
</div>
{% endblock %}
