{% extends 'main/base.html' %}

{% block content %}
<div class="container-fluid mt-4 receitas-pendentes-container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 class="mb-4 text-center">Receitas Pendentes de Aprovação</h1>
            <div class="card">
                <div class="card-body">

                    {% if receitas_pendentes %}
                        <ul class="list-group">
                            {% for receita in receitas_pendentes %}
                                <li class="list-group-item">
                                    <a href="{% url 'detalhes_receita' receita.id %}">{{ receita.nome }}</a>
                                    <form method="post" action="{% url 'aprovar_receita' receita.id %}" class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success btn-sm float-right">Aprovar Receita</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-center no-receitas-message">Nenhuma receita pendente de aprovação no momento.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
