{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Receitas Recomendadas</h2>

    {% if messages %}
        <ul class="messages list-group">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} list-group-item"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if receitas %}
        <ul class="list-group">
        {% for receita in receitas %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'detalhes_receita' receita.id %}">{{ receita.nome }}</a>
                <a href="{% url 'favorites:adicionar_favoritos' receita.id %}" class="btn btn-primary btn-sm">Adicionar aos Favoritos</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Não foram encontradas receitas com os ingredientes que você possui.</p>
    {% endif %}
</div>
{% endblock %}
