<!-- main/templates/main/admin_dashboard.html -->
{% extends 'main/base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Painel do Administrador</h1>

        <div class="row">
            <div class="col-md-6">
                <h2>Receitas</h2>
                <a href="{% url 'cadastrar_receita' %}" class="btn btn-primary mb-2">Cadastrar Receita</a>
                <a href="{% url 'lista_receitas' %}" class="btn btn-info mb-2">Lista de Receitas</a>
            </div>

            <div class="col-md-6">
                <h2>Ingredientes</h2>
                <a href="{% url 'cadastrar_ingrediente' %}" class="btn btn-primary mb-2">Cadastrar Ingrediente</a>
                <a href="{% url 'lista_ingredientes' %}" class="btn btn-info mb-2">Lista de Ingredientes</a>
            </div>
        </div>
    </div>
{% endblock %}
