{% extends 'main/base.html' %}
{% load static %}

{% block title %}Configurações{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Configurações
            </div>
            <div class="card-body">
                <h5 class="card-title">Segurança</h5>
                <p class="card-text" id="pBlack">Ajuste as configurações de e-mail e senha.</p>
                <div class="row">
                    <div class="col-md-6">
                        <form method="post" action="{% url 'trocar_email' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Trocar Email</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form method="post" action="{% url 'trocar_senha' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Trocar Senha</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Personalize sua experiência</h5>
                <p class="card-text" id="pBlack">Ajuste as configurações do site para atender às suas preferências.</p>
                <button id="toggle-theme-btn" class="btn btn-primary">Alternar Modo</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
