{% extends 'main/base.html' %}

{% block title %}
    Confirmar Exclusão de Receita
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Confirmar Exclusão</h1>
        <p>Você está prestes a excluir a receita: <strong>{{ receita.nome }}</strong>.</p>
        <p>Tem certeza de que deseja continuar?</p>

        <form method="post" action="{% url 'excluir_receita' receita.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, Excluir</button>
            <a href="{% url 'lista_receitas' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
