{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Gestão de Usuários</h1>
            <table class="table table-responsive table-striped table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <th>Nome de Usuário</th>
                        <th>Email</th>
                        <th>Administrador</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.username }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.is_staff|yesno:"Sim,Não" }}</td>
                            <td>
                                {% if usuario.is_staff %}
                                    <a href="{% url 'remover_administrador' usuario.id %}" class="btn btn-action btn-warning btn-sm">Remover Administrador</a>
                                {% else %}
                                    <a href="{% url 'tornar_administrador' usuario.id %}" class="btn btn-action btn-success btn-sm">Tornar Administrador</a>
                                {% endif %}
                                <a href="{% url 'excluir_usuario' usuario.id %}" class="btn btn-danger btn-sm btn-excluir">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
