{% extends 'main/base.html' %}

{% block content %}
<div class="jumbotron mt-4 mx-auto text-center col-sm-10 col-md-8 col-lg-6 index-jumbotron">
    <h1 class="display-4">Bem-vindo ao SwiftSavor!</h1>
    <p class="lead">Encontre receitas incríveis para saborear.</p>
    <hr class="my-4">
    <p>Explorar receitas, cadastrar novas e muito mais!</p>
    {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'lista_receitas' %}" role="button">Veja Nossas Receitas</a>
    {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'cadastrar_usuario' %}" role="button">Cadastre-se para Explorar</a>
    {% endif %}
</div>

{% endblock %}
