<!-- main/templates/main/lista_receitas.html -->
{% extends 'main/base.html' %}

{% block content %}

    <div class="container mt-4">
        <h1 class="mb-4">Lista de Receitas</h1>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <ul class="list-group">
            {% for receita in receitas %}
                <li class="list-group-item">
                    <a href="{% url 'detalhes_receita' receita.id %}">{{ receita.nome }}</a>
                    <a href="{% url 'adicionar_favoritos' receita.id %}" class="btn btn-primary btn-sm float-right">Adicionar aos Favoritos</a>
                    
                    {% if user.is_authenticated and user.is_staff %}
                        <a href="{% url 'editar_receita' receita.id %}" class="btn btn-warning btn-sm float-right mr-2">Editar Receita</a>
                        <form method="post" action="{% url 'excluir_receita' receita.id %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm float-right mr-2">Excluir Receita</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
