<!-- main/templates/main/lista_ingredientes.html -->
{% extends 'main/base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Lista de Ingredientes</h1>
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <ul class="list-group">
            {% for ingrediente in ingredientes %}
                <li class="list-group-item">
                    <!-- Link para a página de detalhes do ingrediente -->
                    <a href="{% url 'detalhes_ingrediente' ingrediente.id %}">{{ ingrediente.nome }}</a>
                    
                    <!-- Botão para editar o ingrediente -->
                    <a href="{% url 'editar_ingrediente' ingrediente.id %}" class="btn btn-warning btn-sm float-right mr-2">Editar</a>
                    
                    <!-- Formulário para excluir o ingrediente -->
                    <form method="post" action="{% url 'excluir_ingrediente' ingrediente.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm float-right">Excluir</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
