body {
    background-color: #091d27; /* Cor de fundo escura para o corpo do site */
    color: #ffffff; /* Texto branco para alto contraste */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Uma fonte mais moderna */
    font-size: 1rem; /* Tamanho base da fonte, geralmente 16px */
    line-height: 1.6; /* Espaçamento da linha para melhorar a legibilidade */
}

.navbar {
    background-color: #409094; /* Uma cor azul esverdeada para a navbar */
    border-bottom: 3px solid #b84c29; /* Uma borda na parte inferior da navbar com a cor terracota */
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #de9842; /* Cor de texto dourada para os links da navbar */
    transition: color 0.3s ease-in-out; /* Suaviza a transição de cores */
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #b84c29; /* Cor terracota ao passar o mouse ou focar */
    background-color: transparent; /* Mantém o fundo transparente */
}

a {
    color: #409094; /* Cor azul esverdeada para links */
    text-decoration: none; /* Remove o sublinhado dos links */
}

a:hover,
a:focus {
    color: #b84c29; /* Cor terracota para o estado hover/focus */
    text-decoration: underline; /* Sublinha o link ao passar o mouse ou focar */
}

.navbar-toggler {
    border-color: #de9842; /* Borda dourada para o botão de toggler */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23de9842' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Ícone do toggler com a cor dourada */
}

.container {
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #de9842; /* Títulos com a cor dourada */
    line-height: 1.2; /* Espaçamento da linha para títulos */
}

/* Estilos específicos para o jumbotron na página index */
.jumbotron h1.display-4 {
    font-size: 2.5rem; /* Aumenta o tamanho da fonte do título principal */
    color: #de9842; /* Mantém o título principal dourado */
}

.jumbotron p.lead,
.jumbotron p {
    color: #000000; /* Texto preto para parágrafos dentro do jumbotron */
    font-size: 1.25rem; /* Tamanho maior para texto introdutório */
}

.btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    height: 2.4rem;
    text-align: center; /* Centraliza o texto horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem; /* Adicione margem inferior para separar os botões verticalmente */
}

/* Aplique margem apenas aos botões de Excluir */
.btn.btn-danger {
    margin-right: 0.5rem; /* Adicione margem direita para separar os botões horizontalmente */
}

/* Estilo para os botões da coluna "Ações" na tabela */
.btn-action {
    width: auto; /* Deixe a largura se ajustar ao conteúdo */
    min-width: 150px; /* Defina uma largura mínima para os botões */
    height: 38px; /* Defina a altura desejada para os botões */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita que o texto saia dos botões */
    white-space: nowrap; /* Impede que o texto quebre para a próxima linha */
    text-overflow: ellipsis; /* Adiciona reticências (...) se o texto for muito longo */
}




/* Alinhe os botões à direita da lista de ingredientes */
.list-group-item .btn {
    float: right;
}

.footer {
    background-color: #409094;
    color: #de9842;
    padding: 10px 0;
    text-align: center;
    border-top: 3px solid #b84c29;
    font-size: 0.9rem; /* Tamanho de fonte um pouco menor para o rodapé */
}

/* Altera a cor do texto dos itens da lista de ingredientes para preto */
.list-group-item {
    color: #000000; /* Preto */
}

.form-label, .account-query, .account-link {
    color: #000000; /* Preto */
}

/* Garantir que o link permaneça preto mesmo após ser visitado */
.account-link:visited {
    color: #000000; /* Preto */
}


.errorlist {
    color: #ff0000; /* Vermelho brilhante para mensagens de erro */
    background-color: #ffffff; /* Fundo branco para destacar o texto */
    border: 1px solid #ff0000; /* Borda vermelha ao redor da mensagem de erro */
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilos para formsets e campos de formulário */
.form-group label {
    color: #000000; /* Texto preto para maior contraste */
}

.form-group input,
.form-group select,
.form-group textarea {
    background-color: #ffffff; /* Fundo branco para campos de entrada */
    color: #000000; /* Texto preto */
    border: 1px solid #cccccc; /* Borda sutil */
    padding: .375rem .75rem; /* Preenchimento padrão do Bootstrap */
}

/* Especificamente para campos de arquivo */
.form-group input[type="file"] {
    background-color: #f8f9fa; /* Um fundo mais claro para distinguir */
    border-color: #ced4da; /* Borda que combina com o esquema de cores */
}

/* Melhorias para legibilidade dos erros */
.errorlist {
    color: #dc3545; /* Cor vermelha para erros, seguindo padrão de alertas */
    list-style-type: none; /* Remove marcadores de lista */
    padding: 0; /* Remove preenchimento padrão */
    margin: 0 0 1rem 0; /* Margem para separar da entrada */
}

/* Estilos para mensagens de ajuda */
.form-text.text-muted {
    color: #6c757d !important; /* Mantém a cor padrão do Bootstrap para texto de ajuda */
}


/* Aumentar o padding dos links da navbar */
.navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
    font-size: 1.1rem; /* Aumenta o tamanho da fonte dos links */
}

/* Ajustes para não aumentar a altura da navbar */
.navbar-nav > li > a {
    line-height: 20px; /* Ajusta a altura da linha para manter a navbar sem expansão vertical */
    margin-top: auto; /* Centraliza verticalmente */
    margin-bottom: auto; /* Centraliza verticalmente */
}

